.tabelle_rezeptliste td, tr{
    margin: auto;
    width: 50%;
    font-size: 10pt;
    font-family: arial;
    text-align: center;
    position: relative;
}

.tabelle_rezeptliste > tr > td > p {
    font-size: 20pt;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
}

.tabelle_rezeptliste > tr > td > div {
    position: absolute;
    top: 30%;
    left: 0%;
    font-size: 12pt;
}

.tabelle_rezeptliste {
    width: 50em;
}

#Rezept_anzeigen > div {
    justify-content: left;
    display: inherit;
    align-items: center;
    width: 1200px;
    overflow: hidden;
}

#kochanleitung {
    font-size: 12pt;
    font-family: arial;
    text-align: left;
}

.tabelle_rezeptliste > tr > td > img {
    width: 50%;
}

#anleitungsbox{
    margin-top: 0.5em;
}

#anleitungsbox > p {
    font-size: 20pt;
    font-family: arial;
    font-weight: bold;
}

@media (max-device-width: 480px) {
    .tabelle_rezeptliste {
        width: 300px;
    }

    #Rezept_anzeigen > div {
        width: 300px;
    }

    #anleitungsbox > p {
        font-size: 10pt;
    }
    .tabelle_rezeptliste > tr > td > p {
        font-size: 10pt;
    }
    .tabelle_rezeptliste > tr > td > div {
        margin-top: 0.5em;
        font-size: 8pt;
    }

    #kochanleitung {
        font-size: 8pt;
    }
