#Rezeptliste{
  margin: auto;
}
#Rezeptliste > div{
    display: inline-block;
    font-size: 100%;
    position: relative;
    transition: 0.5s;
    margin: 0.5em;
    width: 280px;
    height: 150px;
}
#Rezeptliste > div:hover{
    cursor: pointer;
    box-shadow: 7px 7px 5px grey;
}
#Rezeptliste > div > img{
  width: 100%;
  height: 100%;
}
.Beschriftung{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #ababab;
    height: 2.0em;
    line-height: 2.0em;
    background-color: rgba(0,0,0,0.3);
    font-family: sans-serif;
    color: white;
    font-size: 24px;
}
.Löschen > img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2%;
    bottom: 5%;
    transition: 0.5s;
}
.Löschen > img:hover{
    transform: scale(1.17);
}
