.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

.modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 28rem;
        height: 36rem;
        border-radius: 0.5rem;
        background-image: url("add_image_background.jpg");
    }

.close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }

.close-button:hover {
        background-color: darkgray;
    }

.show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

.Tab_rez th{
    font-size: 15pt;
    font-family: Bradley Hand;
    text-align: left;
    box-sizing: border-box;
    padding: 0.5em;
    width: 50%;
}

h2 {
    font-family: Bradley Hand;
    text-align: center;
    font-weight: bold;
}

.Tab_rez tr {
    margin-bottom: 1em;
    padding: 1em;
    box-sizing: border-box;
}

.Tab_rez {
    margin: auto;
    width: auto;
    height: auto;
}

#rname, #bpfad, #kat{
    width: 15rem;
    height: 1rem;
    font-family: Bradley Hand;
    border: 1px solid #cccccc;
    border-radius: 1em;
    padding: 0.5em;
}

#kochleitung, #Zutaten{
	width: 15rem;
	height: 7em;
	border: 1px solid #cccccc;
	padding: 0.5em;
	font-family: Bradley Hand;
    font-size: 8pt;
    resize: none;
    border-radius: 1em;
}

#kat {
    height: 2rem;
    width: 15.7rem;
}
.save {
    font-family: Bradley Hand;
    font-size: 12pt;
}

@media (max-device-width: 480px) {
    .modal-content {
            width: 15.5rem;
            height: 23rem;
        }
        h2 {
            font-size: 12pt;
        }
        .Tab_rez th{
            font-size: 8pt;

        }
        #rname, #bpfad, #kat{
            width: 10rem;
            height: 1rem;
            font-size: 7pt;
        }

        #kochleitung, #Zutaten{
        	width: 16.7em;
        	height: 7em;
            font-size: 7pt;
        }
        .save{
            width: 15.7em;
            height: 2em;
            font-size: 8pt;
        }
}
